Package: net.limneos.libbulletin
Name: libbulletin
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Simple library that displays bulletins
Maintainer: Elias Limneos
Author: Elias Limneos
Section: Tweaks
